@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-purple: #2B114F;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    line-height: normal;
}

.flex-2 {
    flex-grow: 2;
}

.flex-3 {
    flex-grow: 3;
}

.flex-4 {
    flex-grow: 4;
}

.flex-5 {
    flex-grow: 5;
}

input::placeholder,
textarea::placeholder {
    color: var(--dark-purple);
}